h2 {
  font-size: 2rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}

.collection .collection-item.active {
  background-color: #576a9e;
  color: #eafaf9;
}

.collection {
  border: 1px solid #aaaaaa;
}